noselect()
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none


html, body
	background-color red
	margin 0px
	padding 0px
	
ul
	margin 0px
	padding 0px
	overflow hidden
	overflow-y scroll

	height 300px

	li
		margin 0px 0px 10px 0px
		padding 10px
		
		noselect()
		
		font-size 30px
		color black
	
		background-color white
		border-radius 10px
	